@tailwind base;
@tailwind components;
@tailwind utilities;

.header-content {
	display: flex;
	align-items: center;
	margin-left: 20px;
}

ul {
	display: flex;
	list-style-type: none;
	gap: 50px;
	margin-left: 20px;
}
