@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;800&display=swap");

body {
	background-color: grey;
	margin: 0;
	font-family: Poppins;
}

.header-content {
	display: flex;
	align-items: center;

	background-color: #fff;
}

ul {
	display: flex;
	list-style-type: none;
	gap: 50px;
	margin-left: 20px;
}

.required-indicator {
	color: red;
}

.container {
	background-color: #fff;
	margin: 20px;
	padding: 20px;
}

.input-fields {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
}

.footer-buttons {
	display: flex;
	justify-content: space-between;
}

.footer-buttons button {
	padding: 5px 10px;
	border-radius: 5px;
}

.back-btn {
	border: none;
}

.submit-btn {
	border: none;
	color: #fff;
	background-color: orange;
}

.submit-btn:hover {
	cursor: pointer;
}
