@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: grey;
	margin: 0;
}

.header-content {
	display: flex;
	align-items: center;

	background-color: #fff;
}

ul {
	display: flex;
	list-style-type: none;
	gap: 50px;
	margin-left: 20px;
}
